In [1]:
# example 1: list => HTML unordered list

In [2]:
def list_to_html(items, fileobj):
    fileobj.write("<ul>\n")
    for item in items:
        fileobj.write("<li>" + item + "\n")
    fileobj.write("</ul>\n")

In [3]:
f = open("shopping-list.html", "w")
f.write("<h3>Target</h3>\n")
list_to_html(["apples", "bananas", "oranges"], f)
f.write("<h3>Trader Joes</h3>\n")
list_to_html(["chocolate", "fish"], f)
f.close()

In [4]:
# EXAMPLE 2: dict => collection of pages

In [5]:
pages = {
    "A": "this is the A page",
    "B": "this is another page",
    "C": "these pages are getting redundant",
}
pages

{'A': 'this is the A page',
 'B': 'this is another page',
 'C': 'these pages are getting redundant'}

In [6]:
# stage 1: generate pages
for pagename in pages:
    path = pagename + ".html"
    print(path)
    f = open(path, "w")
    f.write(pages[pagename])
    f.close()

A.html
B.html
C.html

In [7]:
# stage 2: generate keys.html
f = open("keys.html", "w")
for pagename in pages:
    path = pagename + ".html"
    f.write('<a href="' + path + '">')
    f.write(pagename)
    f.write("</a>")
    f.write("<br>\n")
f.close()

In [8]:
# example 3: DataFrame to HTML table

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame({"A": [1,2], "B":[3,4]})
df

   A  B
0  1  3
1  2  4

In [11]:
print("<table>")
for row_idx in range(len(df)):
    row = df.iloc[row_idx]
    row = list(map(str, row))
    
    print("<tr>")
    print("<td>" + "</td><td>".join(row) + "</td>")
    print("</tr>")
print("</table>")

<table>
<tr>
<td>1</td><td>3</td>
</tr>
<tr>
<td>2</td><td>4</td>
</tr>
</table>

In [12]:
# copy above to an HTML file...