In [1]:
import pandas as pd
from pandas import Series, DataFrame
import sqlite3

In [2]:
c = sqlite3.connect("bus.db")

In [3]:
def qry(sql):
    return pd.read_sql(sql, c)

In [4]:
qry("SELECT * FROM boarding").head()

   index  StopID  Route        Lat        Lon  DailyBoardings
0      0    1163     27  43.073655 -89.385427            1.03
1      1    1163     47  43.073655 -89.385427            0.11
2      2    1163     75  43.073655 -89.385427            0.34
3      3    1164      6  43.106465 -89.340021           10.59
4      4    1167      3  43.077867 -89.369993            3.11

# How many people use the bus system daily?

# How many stops does each route have?

# Which routes have less than 20 stops?

# How many people board each route daily?

Show most popular routes first.

# Which bus routes have at least 3 stops with more than 50 daily boardings?

# Which bus routes have at least 10 stops with more than 50 daily boardings?

# Which bus routes have at least 3 stops with more than 100 daily boardings?