In [3]:
import requests

In [38]:
baseurl = "https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/"
url = baseurl + "state_files.txt"

In [39]:
r = requests.get(url)
r

In [41]:
type(r)

requests.models.Response

In [42]:
# assert(r.status_code == 200)
r.raise_for_status()

In [15]:
states = r.text.split("\n")
states

['Alabama.json',
 'Alaska.json',
 'Arizona.json',
 'Arkansas.json',
 'California.json',
 'Colorado.json',
 'Connecticut.json',
 'Delaware.json',
 'Florida.json',
 'Georgia.json',
 'Hawaii.json',
 'Idaho.json',
 'Illinois.json',
 'Indiana.json',
 'Iowa.json',
 'Kansas.json',
 'Kentucky.json',
 'Louisiana.json',
 'Maine.json',
 'Maryland.json',
 'Massachusetts.json',
 'Michigan.json',
 'Minnesota.json',
 'Mississippi.json',
 'Missouri.json',
 'Montana.json',
 'Nebraska.json',
 'Nevada.json',
 'New_Hampshire.json',
 'New_Jersey.json',
 'New_Mexico.json',
 'New_York.json',
 'North_Carolina.json',
 'North_Dakota.json',
 'Ohio.json',
 'Oklahoma.json',
 'Oregon.json',
 'Pennsylvania.json',
 'Rhode_Island.json',
 'South_Carolina.json',
 'South_Dakota.json',
 'Tennessee.json',
 'Texas.json',
 'Utah.json',
 'Vermont.json',
 'Virginia.json',
 'Washington.json',
 'West_Virginia.json',
 'Wisconsin.json',
 'Wyoming.json']

In [28]:
# key:col name, value: list of values in that column
table = {"state":[], "2000":[], "2010":[], "2015":[]} 

for state in states:
    url = baseurl + state
    print("DOWNLOAD", baseurl + state)
    r = requests.get(url)
    r.raise_for_status()
    row = r.json()
    for key in row:
        column = table[key] # column list
        column.append(row[key])
    table["state"].append(state.replace(".json", ""))

DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Alabama.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Alaska.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Arizona.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Arkansas.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/California.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Colorado.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Connecticut.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Delaware.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Florida.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Georgia.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Hawaii.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Idaho.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Illinois.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Indiana.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Iowa.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Kansas.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Kentucky.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Louisiana.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Maine.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Maryland.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Massachusetts.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Michigan.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Minnesota.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Mississippi.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Missouri.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Montana.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Nebraska.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Nevada.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/New_Hampshire.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/New_Jersey.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/New_Mexico.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/New_York.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/North_Carolina.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/North_Dakota.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Ohio.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Oklahoma.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Oregon.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Pennsylvania.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Rhode_Island.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/South_Carolina.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/South_Dakota.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Tennessee.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Texas.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Utah.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Vermont.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Virginia.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Washington.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/West_Virginia.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Wisconsin.json
DOWNLOAD https://tyler.caraza-harter.com/cs301/spring19/materials/code/lec-30/data/Wyoming.json

In [30]:
table

{'state': ['Alabama',
  'Alaska',
  'Arizona',
  'Arkansas',
  'California',
  'Colorado',
  'Connecticut',
  'Delaware',
  'Florida',
  'Georgia',
  'Hawaii',
  'Idaho',
  'Illinois',
  'Indiana',
  'Iowa',
  'Kansas',
  'Kentucky',
  'Louisiana',
  'Maine',
  'Maryland',
  'Massachusetts',
  'Michigan',
  'Minnesota',
  'Mississippi',
  'Missouri',
  'Montana',
  'Nebraska',
  'Nevada',
  'New_Hampshire',
  'New_Jersey',
  'New_Mexico',
  'New_York',
  'North_Carolina',
  'North_Dakota',
  'Ohio',
  'Oklahoma',
  'Oregon',
  'Pennsylvania',
  'Rhode_Island',
  'South_Carolina',
  'South_Dakota',
  'Tennessee',
  'Texas',
  'Utah',
  'Vermont',
  'Virginia',
  'Washington',
  'West_Virginia',
  'Wisconsin',
  'Wyoming'],
 '2000': [4447100,
  626932,
  5130632,
  2673400,
  33871648,
  4301261,
  3405565,
  783600,
  15982378,
  8186453,
  1211537,
  1293953,
  12419293,
  6080485,
  2926324,
  2688418,
  4041769,
  4468976,
  1274923,
  5296486,
  6349097,
  9938444,
  4919479,
  2844658,
  5595211,
  902195,
  1711263,
  1998257,
  1235786,
  8414350,
  1819046,
  18976457,
  8049313,
  642200,
  11353140,
  3450654,
  3421399,
  12281054,
  1048319,
  4012012,
  754844,
  5689283,
  20851820,
  2233169,
  608827,
  7078515,
  5894121,
  1808344,
  5363675,
  493782],
 '2010': [4779736,
  710231,
  6392017,
  2915918,
  37253956,
  5029196,
  3574097,
  897934,
  18801310,
  9687653,
  1360301,
  1567582,
  12830632,
  6483802,
  3046355,
  2853118,
  4339367,
  4533372,
  1328361,
  5773552,
  6547629,
  9883640,
  5303925,
  2967297,
  5988927,
  989415,
  1826341,
  2700551,
  1316470,
  8791894,
  2059179,
  19378102,
  9535483,
  672591,
  11536504,
  3751351,
  3831074,
  12702379,
  1052567,
  4625364,
  814180,
  6346105,
  25145561,
  2763885,
  625741,
  8001024,
  6724540,
  1852994,
  5686986,
  563626],
 '2015': [4846411,
  737046,
  6728783,
  2966835,
  38792291,
  5355588,
  3594762,
  935968,
  19905569,
  10097132,
  1420257,
  1634806,
  12882189,
  6597880,
  3109481,
  2902507,
  4412617,
  4648990,
  1330256,
  5975346,
  6755124,
  9916306,
  5457125,
  2993443,
  6063827,
  1023252,
  1882980,
  2838281,
  1327996,
  8938844,
  2085567,
  19748858,
  9940387,
  740040,
  11596998,
  3879610,
  3971202,
  12793767,
  1054907,
  4829160,
  853304,
  6547779,
  26979078,
  2944498,
  626767,
  8328098,
  7063166,
  1848751,
  5759432,
  584304]}

In [31]:
import pandas as pd
from pandas import DataFrame, Series

In [32]:
DataFrame(table)

             state      2000      2010      2015
0          Alabama   4447100   4779736   4846411
1           Alaska    626932    710231    737046
2          Arizona   5130632   6392017   6728783
3         Arkansas   2673400   2915918   2966835
4       California  33871648  37253956  38792291
5         Colorado   4301261   5029196   5355588
6      Connecticut   3405565   3574097   3594762
7         Delaware    783600    897934    935968
8          Florida  15982378  18801310  19905569
9          Georgia   8186453   9687653  10097132
10          Hawaii   1211537   1360301   1420257
11           Idaho   1293953   1567582   1634806
12        Illinois  12419293  12830632  12882189
13         Indiana   6080485   6483802   6597880
14            Iowa   2926324   3046355   3109481
15          Kansas   2688418   2853118   2902507
16        Kentucky   4041769   4339367   4412617
17       Louisiana   4468976   4533372   4648990
18           Maine   1274923   1328361   1330256
19        Maryland   5296486   5773552   5975346
20   Massachusetts   6349097   6547629   6755124
21        Michigan   9938444   9883640   9916306
22       Minnesota   4919479   5303925   5457125
23     Mississippi   2844658   2967297   2993443
24        Missouri   5595211   5988927   6063827
25         Montana    902195    989415   1023252
26        Nebraska   1711263   1826341   1882980
27          Nevada   1998257   2700551   2838281
28   New_Hampshire   1235786   1316470   1327996
29      New_Jersey   8414350   8791894   8938844
30      New_Mexico   1819046   2059179   2085567
31        New_York  18976457  19378102  19748858
32  North_Carolina   8049313   9535483   9940387
33    North_Dakota    642200    672591    740040
34            Ohio  11353140  11536504  11596998
35        Oklahoma   3450654   3751351   3879610
36          Oregon   3421399   3831074   3971202
37    Pennsylvania  12281054  12702379  12793767
38    Rhode_Island   1048319   1052567   1054907
39  South_Carolina   4012012   4625364   4829160
40    South_Dakota    754844    814180    853304
41       Tennessee   5689283   6346105   6547779
42           Texas  20851820  25145561  26979078
43            Utah   2233169   2763885   2944498
44         Vermont    608827    625741    626767
45        Virginia   7078515   8001024   8328098
46      Washington   5894121   6724540   7063166
47   West_Virginia   1808344   1852994   1848751
48       Wisconsin   5363675   5686986   5759432
49         Wyoming    493782    563626    584304

In [43]:
# EXAMPLE 2: POST to web server

In [69]:
r = requests.get("http://127.0.0.1:8080/scores")
r.text

'{"alice": 3, "bob": 1, "cindy": 3}'

In [70]:
r.text

'{"alice": 3, "bob": 1, "cindy": 3}'

In [71]:
r = requests.post("http://127.0.0.1:8080/scores", "cindy")
r.text

'success'