In [8]:
import pandas as pd
from pandas import Series, DataFrame

In [9]:
#pd.FUNCTIONS
#pd.DATA_STRUCTURES

In [11]:
Series

pandas.core.series.Series

In [17]:
nums = [100, 200, 300]
nums

[100, 200, 300]

In [18]:
Series(nums)

0    100
1    200
2    300
dtype: int64

In [22]:
d = {"one":1, "two":2, "three":3}
d

{'one': 1, 'two': 2, 'three': 3}

In [23]:
s = Series(d)
s

one      1
two      2
three    3
dtype: int64

In [24]:
dict(s)

{'one': 1, 'two': 2, 'three': 3}

In [26]:
s["two"]

2

In [27]:
s

one      1
two      2
three    3
dtype: int64

In [28]:
s[1:]

two      2
three    3
dtype: int64

In [30]:
nums = Series([300,400,500])
nums

0    300
1    400
2    500
dtype: int64

In [31]:
nums[2]

500

In [33]:
nums[:-1]

0    300
1    400
dtype: int64

In [35]:
# does not work:
# nums[-1]

In [37]:
s = Series({-1:"negative", 0:"zero", 1:"positive"})
s

-1    negative
 0        zero
 1    positive
dtype: object

In [38]:
s[-1]

'negative'

In [44]:
s[-1:]

1    positive
dtype: object

In [46]:
s = Series(["A", "B", "C"])
s

0    A
1    B
2    C
dtype: object

In [48]:
s = Series({0:"A", 1:"B", 2:"C"})
s

0    A
1    B
2    C
dtype: object

In [49]:
# element-wise operations
# 1) Series OPERATION Series
# 2) Series OPERATION Scalar

In [51]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [52]:
Series([1, 2]) + Series([3, 4])

0    4
1    6
dtype: int64

In [53]:
Series([1, 2]) + Series([3, 4, 5])

0    4.0
1    6.0
2    NaN
dtype: float64

In [54]:
Series([3, 4, 5]) + 100

0    103
1    104
2    105
dtype: int64

In [55]:
Series(["A", "B", "C"]) + "!!!!!"

0    A!!!!!
1    B!!!!!
2    C!!!!!
dtype: object

In [56]:
Series(["A", "B", "C"]) * 3

0    AAA
1    BBB
2    CCC
dtype: object

In [58]:
s[50] = "D"
s

0     A
1     B
2     C
50    D
dtype: object

In [59]:
# Boolean, element-wise

In [60]:
s1 = Series([3,4,5])
s1

0    3
1    4
2    5
dtype: int64

In [61]:
s2 = Series([5,4,3])
s2

0    5
1    4
2    3
dtype: int64

In [63]:
b = s1 > s2
b

0    False
1    False
2     True
dtype: bool

In [64]:
b1 = Series([False, False, True])
b1

0    False
1    False
2     True
dtype: bool

In [65]:
b2 = Series([False, True, True])
b2

0    False
1     True
2     True
dtype: bool

In [67]:
# cannot override and, or operators
# b1 and b2

In [68]:
# used & for and
b1 & b2

0    False
1    False
2     True
dtype: bool

In [69]:
# used | for or
b1 | b2

0    False
1     True
2     True
dtype: bool

In [70]:
b1

0    False
1    False
2     True
dtype: bool

In [71]:
b2

0    False
1     True
2     True
dtype: bool

In [72]:
b1 == b2

0     True
1    False
2     True
dtype: bool

In [73]:
# DATA ALIGNMENT

In [74]:
s1 = Series([7,8,9])
s1

0    7
1    8
2    9
dtype: int64

In [79]:
s2 = Series([100, 200, 300])
s3 = Series([100, 200, 300], index=[2,1,0])
s3

2    100
1    200
0    300
dtype: int64

In [81]:
s1 + s3

0    307
1    208
2    109
dtype: int64

In [85]:
s1 = Series([7,8,9])
s1

0    7
1    8
2    9
dtype: int64

In [86]:
s3 = Series([100, 200, 300], index=[3,2,1])
s3

3    100
2    200
1    300
dtype: int64

In [87]:
s1 + s3

0      NaN
1    308.0
2    209.0
3      NaN
dtype: float64

In [88]:
# FANCY INDEXING

# obj[X]
#
# 1. obj is a list and X is a integer
# 2. obj is a dict and X is a key
# 3. obj and X are both Series, and the X series contains booleans

In [89]:
s = Series(["A", "B", "C", "D"])
s

0    A
1    B
2    C
3    D
dtype: object

In [90]:
b = Series([True, False, False, True])
b

0     True
1    False
2    False
3     True
dtype: bool

In [91]:
s[b]

0    A
3    D
dtype: object

In [92]:
# combine: (1) element-wise bool operations, (2) fancy indexing

In [93]:
s = Series([10, 11, 21, 20, 9])
s

0    10
1    11
2    21
3    20
4     9
dtype: int64

In [95]:
# WANT: get all the numbers > 15
b = s > 15
b

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [96]:
s[b]

2    21
3    20
dtype: int64

In [97]:
s

0    10
1    11
2    21
3    20
4     9
dtype: int64

In [98]:
s[s > 15]

2    21
3    20
dtype: int64

In [99]:
s[s <= 15]

0    10
1    11
4     9
dtype: int64

In [100]:
s

0    10
1    11
2    21
3    20
4     9
dtype: int64

In [104]:
s[s % 2 == 1]

1    11
2    21
4     9
dtype: int64

In [105]:
s[s > 10]

1    11
2    21
3    20
dtype: int64

In [106]:
# WANT: odd numbers greater than 10
s[(s % 2 == 1) & (s > 10)]

1    11
2    21
dtype: int64

In [109]:
# and is low precedence, & is high precedence

In [110]:
# FAILs because it does the & first
# s[s % 2 == 1 & s > 10]

In [111]:
# WANT: get all the upper case values
s = Series(["apple", "BANANA", "dog", "CAT"])

In [113]:
s.str.upper()

0     APPLE
1    BANANA
2       DOG
3       CAT
dtype: object

In [116]:
s[s == s.str.upper()]

1    BANANA
3       CAT
dtype: object