In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
Series

pandas.core.series.Series

In [4]:
# list vs Series

In [5]:
nums = [300, 200, 100]
nums

[300, 200, 100]

In [6]:
s = Series(nums)
s

0    300
1    200
2    100
dtype: int64

In [7]:
list(s)

[300, 200, 100]

In [8]:
# dict vs. Series

In [9]:
d = {"one": 1, "two": 2, "three": 3}
d

{'one': 1, 'two': 2, 'three': 3}

In [10]:
s = Series(d)
s

one      1
two      2
three    3
dtype: int64

In [11]:
s["two"]

2

In [12]:
s[1:]

two      2
three    3
dtype: int64

In [13]:
Series({0:99, 1:88, 2:77})

0    99
1    88
2    77
dtype: int64

In [14]:
s = Series([99,88,77]) # very similar to above
s

0    99
1    88
2    77
dtype: int64

In [15]:
# this fails:
# s[-1]

In [16]:
s = Series({-1:55, 0:99, 1:88, 2:77})
s

-1    55
 0    99
 1    88
 2    77
dtype: int64

In [17]:
s[-1], s[1]

(55, 88)

In [18]:
# this fails:
# s[55]

In [19]:
nums = Series([100,200,300])
nums

0    100
1    200
2    300
dtype: int64

In [20]:
nums + 1

0    101
1    201
2    301
dtype: int64

In [21]:
shorter = Series([5, 6])
nums + shorter

0    105.0
1    206.0
2      NaN
dtype: float64

In [22]:
list(nums) + list(shorter)

[100, 200, 300, 5, 6]

In [23]:
shorter

0    5
1    6
dtype: int64

In [24]:
shorter * shorter

0    25
1    36
dtype: int64

In [25]:
s1 = Series([3,4,5])
s2 = Series([5,4,3])

In [26]:
s1

0    3
1    4
2    5
dtype: int64

In [27]:
s2

0    5
1    4
2    3
dtype: int64

In [28]:
s1 > s2

0    False
1    False
2     True
dtype: bool

In [29]:
s1 == s2

0    False
1     True
2    False
dtype: bool

In [30]:
s1 = Series([False, False, True])
s2 = Series([False, True, True])

In [31]:
s1 | s2 # | is the same as or

0    False
1     True
2     True
dtype: bool

In [32]:
s1 & s2 # & is the same as and

0    False
1    False
2     True
dtype: bool

In [33]:
# data alignment

In [34]:
s1 = Series([100, 200, 300])
s1

0    100
1    200
2    300
dtype: int64

In [35]:
s2 = Series([11, 22, 33], index=[3,2,1])
s2

3    11
2    22
1    33
dtype: int64

In [36]:
s1 + s2

0      NaN
1    233.0
2    322.0
3      NaN
dtype: float64

In [37]:
# fancy indexing

# obj[X]
#
# what can X be?
# 1. index (int)
# 2. key (a lot of things)
# 3. Series (Series[Series])    <-- this is fancy indexing

In [38]:
s = Series(["A", "B", "C", "D"])
s

0    A
1    B
2    C
3    D
dtype: object

In [39]:
b1 = Series({0:True, 1:False, 2:False, 3:True})
b2 = Series([True, False, False, True])
b2

0     True
1    False
2    False
3     True
dtype: bool

In [40]:
s[b1]

0    A
3    D
dtype: object

In [41]:
s[b2]

0    A
3    D
dtype: object

In [42]:
# combine element-wise bool ops with fancy indexing

In [43]:
s = Series([1, 99, 50, 40, 45, 20])
s

0     1
1    99
2    50
3    40
4    45
5    20
dtype: int64

In [44]:
b = s < 25
b

0     True
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [45]:
s[b]

0     1
5    20
dtype: int64

In [46]:
s[s < 25]

0     1
5    20
dtype: int64

In [47]:
s[s > 40]

1    99
2    50
4    45
dtype: int64

In [48]:
list(s[s > 40])

[99, 50, 45]

In [49]:
Series(list(s[s > 40]))

0    99
1    50
2    45
dtype: int64

In [50]:
s = Series([1, 99, 50, 40, 45, 20])
s

0     1
1    99
2    50
3    40
4    45
5    20
dtype: int64

In [51]:
# want all the odd numbers
s[s % 2 == 1]

0     1
1    99
4    45
dtype: int64

In [52]:
# want odd numbers greater than 10
s % 2 == 1

0     True
1     True
2    False
3    False
4     True
5    False
dtype: bool

In [53]:
s > 10

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

In [54]:
s[(s % 2 == 1) & (s > 10)]

1    99
4    45
dtype: int64

In [55]:
s = Series(["dog", "CAT", "apple", "BANANA"])
s

0       dog
1       CAT
2     apple
3    BANANA
dtype: object

In [56]:
s.str.upper()

0       DOG
1       CAT
2     APPLE
3    BANANA
dtype: object

In [57]:
s == s.str.upper()

0    False
1     True
2    False
3     True
dtype: bool

In [58]:
s[s == s.str.upper()]

1       CAT
3    BANANA
dtype: object

In [59]:
s = Series(["dog", "apple"])
s[s == s.str.upper()]

Series([], dtype: object)