In [4]:
import pandas as pd
import sqlite3
import json

In [5]:
with open("dictionary.json") as f:
    d = json.load(f)

In [9]:
words = []
defs = []
for k,v in d.items():
    words.append(k)
    defs.append(v)
table = pd.DataFrame({"word":words, "definition":defs})
table

                      word                                         definition
0                    'hood                             (slang) a neighborhood
1              .22 caliber  of or relating to the bore of a gun (or its am...
2              .38 caliber  of or relating to the bore of a gun (or its am...
3              .45 caliber  of or relating to the bore of a gun (or its am...
4      15 may organization  a terrorist organization formed in 1979 by a f...
5                    1530s                       the decade from 1530 to 1539
6                    1750s                       the decade from 1750 to 1759
7                    1760s                       the decade from 1760 to 1769
8                    1770s                       the decade from 1770 to 1779
9                    1780s                       the decade from 1780 to 1789
10                   1790s                       the decade from 1790 to 1799
11           18-karat gold            an alloy that contains 75 per cent gold
12                   1820s                       the decade from 1820 to 1829
13                   1830s                       the decade from 1830 to 1839
14                   1840s                       the decade from 1840 to 1849
15                   1850s                       the decade from 1850 to 1859
16                   1860s                       the decade from 1860 to 1869
17                   1870s                       the decade from 1870 to 1879
18                   1900s                       the decade from 1900 to 1909
19           22-karat gold            an alloy that contains 87 per cent gold
20           24-karat gold                                  100 per cent gold
21                    24/7             uptime is 24 hours a day 7 days a week
22              401-k plan  a retirement savings plan that is funded by em...
23                    9/11  the day in 2001 when Arab suicide bombers hija...
24                       a               the 1st letter of the Roman alphabet
25               a battery  the battery used to heat the filaments of a va...
26                   a bit  to a small degree; somewhat; "it's a bit warm"...
27              a cappella  without musical accompaniment; "they performed...
28      a cappella singing         singing without instrumental accompaniment
29                a few(a)  more than one but indefinitely small in number...
...                    ...                                                ...
86873            zurvanism  a Zoroastrian sect that claims Zurvan was the ...
86874                zweig                        Austrian writer (1881-1942)
86875             zwieback  slice of sweet raised bread baked again until ...
86876              zwingli  Swiss theologian whose sermons began the Refor...
86877             zworykin  United States physicist who invented the icono...
86878               zydeco  music of southern Louisiana that combines Fren...
86879              zygnema             type genus of the family Zygnemataceae
86880        zygnemataceae  pond scums: common freshwater algae forming gr...
86881         zygnematales                                pond scums; desmids
86882           zygocactus  small genus of Brazilian cacti having flat fle...
86883           zygodactyl  (of bird feet) having the first and fourth toe...
86884      zygodactyl foot  a bird's foot having the first and fourth toes...
86885               zygoma  the slender arch formed by the temporal proces...
86886            zygomatic     of or relating to the cheek region of the face
86887    zygomatic process  a slender process of the temporal bone that st...
86888          zygomorphic  capable of division into symmetrical halves by...
86889          zygomycetes  class of fungi coextensive with subdivision Zy...
86890           zygomycota  division of fungi having sexually produced zyg...
86891       zygophyllaceae  small trees, shrubs, and herbs of warm arid an...
86892          zygophyllum  usually tropical herbs or shrubs having ill-sm...
86893            zygoptera                                        damselflies
86894            zygospore   a plant spore formed by two similar sexual cells
86895               zygote  (genetics) the diploid cell resulting from the...
86896             zygotene        the second stage of the prophase of meiosis
86897              zygotic                         of or relating to a zygote
86898               zymase  a complex of enzymes that cause glycolysis; or...
86899               zymoid                               resembling an enzyme
86900             zymology  the branch of chemistry concerned with ferment...
86901              zymosis  a process in which an agent causes an organic ...
86902              zymotic          of or relating to or causing fermentation

[86903 rows x 2 columns]

In [12]:
conn = sqlite3.connect("vocab.db")
table.to_sql(con=conn, name="definitions")
conn.close()

In [18]:
conn = sqlite3.connect("vocab.db")
import random

In [65]:
word = random.choice(pd.read_sql("select word from words", conn).word)

In [66]:
word

'methane'

In [67]:
pd.read_sql("select * from definitions where word = '{}'".format(word), conn)

   index     word                               definition
0  48840  methane  a colorless odorless gas used as a fuel

In [68]:
pd.read_sql("select * from definitions limit 3", conn)

   index         word                                         definition
0      0        'hood                             (slang) a neighborhood
1      1  .22 caliber  of or relating to the bore of a gun (or its am...
2      2  .38 caliber  of or relating to the bore of a gun (or its am...

In [69]:
pd.read_sql("select * from words limit 3", conn)

,id,word,stem,lang,category,timestamp,profileid
0,en:practicing,practicing,practice,en,0,1507696967592,
1,en:melanoma,melanoma,melanoma,en,0,1508074078867,
2,en:prophylactic,prophylactic,prophylactic,en,0,1508076287957,