In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("bus.db")
conn

In [6]:
pd.read_sql("select Route, Lat, Lon from boarding order by lon ASC limit 1", conn)

   Route        Lat        Lon
0     55  42.995476 -89.564243

In [7]:
pd.read_sql("select * from boarding where Route = 55", conn)

    index  StopID  Route        Lat        Lon  DailyBoardings
0    1029    6100     55  43.053883 -89.475098           60.46
1    3464    4261     55  42.990502 -89.533087            3.69
2    3470    4310     55  42.989314 -89.540273            0.23
3    3489    4400     55  42.995476 -89.564243           59.31
4    3515    4519     55  42.988306 -89.545956            1.50
5    3527    4556     55  42.992870 -89.526778            0.69
6    3529    4559     55  42.987673 -89.553340            0.92
7    3541    4623     55  42.992557 -89.526432            1.38
8    3570    4732     55  42.990501 -89.534012            0.12
9    3599    4812     55  42.988076 -89.552983            0.58
10   3607    4838     55  42.994093 -89.519406            0.12
11   3631    4905     55  42.989036 -89.540667            0.23

In [8]:
df = pd.read_sql("select * from boarding", conn)
df

      index  StopID  Route        Lat        Lon  DailyBoardings
0         0    1163     27  43.073655 -89.385427            1.03
1         1    1163     47  43.073655 -89.385427            0.11
2         2    1163     75  43.073655 -89.385427            0.34
3         3    1164      6  43.106465 -89.340021           10.59
4         4    1167      3  43.077867 -89.369993            3.11
5         5    1167      4  43.077867 -89.369993            2.23
6         6    1167     10  43.077867 -89.369993            0.11
7         7    1167     38  43.077867 -89.369993            1.36
8         8    1169      3  43.089707 -89.329817           18.90
9         9    1169     37  43.089707 -89.329817            1.35
10       10    1169     38  43.089707 -89.329817           31.15
11       11    1177      2  43.096916 -89.363631            6.69
12       12    1177     28  43.096916 -89.363631            1.46
13       13    1188      3  43.091791 -89.355523           13.45
14       14    1188      4  43.091791 -89.355523           37.75
15       15    1188     10  43.091791 -89.355523           16.03
16       16    1188     37  43.091791 -89.355523            5.74
17       17    1190      3  43.080238 -89.367028           16.34
18       18    1190      4  43.080238 -89.367028           16.70
19       19    1190     10  43.080238 -89.367028           10.57
20       20    1190     38  43.080238 -89.367028           32.96
21       21    1191     38  43.090665 -89.343855            0.57
22       22    1194      3  43.077751 -89.370536            7.56
23       23    1194      4  43.077751 -89.370536            5.12
24       24    1194     10  43.077751 -89.370536            5.34
25       25    1194     38  43.077751 -89.370536           10.87
26       26    1199      6  43.084904 -89.369296           31.11
27       27    1199     14  43.084904 -89.369296            3.24
28       28    1199     15  43.084904 -89.369296            4.95
29       29    1199     25  43.084904 -89.369296            0.89
...     ...     ...    ...        ...        ...             ...
3942   3942    6470     73  43.099043 -89.519700            0.67
3943   3943    6471     70  43.100540 -89.504019            0.45
3944   3944    6471     72  43.100540 -89.504019            0.11
3945   3945    6475     72  43.110906 -89.506736            7.50
3946   3946    6476     70  43.090865 -89.524776           11.64
3947   3947    6476     73  43.090865 -89.524776           29.72
3948   3948    6482     14  43.060988 -89.482237            0.89
3949   3949    6482     67  43.060988 -89.482237            7.04
3950   3950    6483     73  43.074682 -89.531184            0.22
3951   3951    6484     70  43.105913 -89.502580            0.11
3952   3952    6489     70  43.104074 -89.492241            2.35
3953   3953    6489     72  43.104074 -89.492241            3.47
3954   3954    6490     15  43.075877 -89.525273            2.03
3955   3955    6490     73  43.075877 -89.525273            1.12
3956   3956    6499     14  43.063822 -89.507345            0.34
3957   3957    6504     73  43.054332 -89.520489            0.56
3958   3958    6506     15  43.075340 -89.498211            0.34
3959   3959    6511     15  43.079184 -89.532735            1.80
3960   3960    6516     67  43.060966 -89.492358            9.06
3961   3961    6519     15  43.088257 -89.527415            0.90
3962   3962    6526     70  43.106273 -89.498640            2.80
3963   3963    6527     15  43.075627 -89.525013            0.34
3964   3964    6527     73  43.075627 -89.525013            0.56
3965   3965    6529     72  43.106411 -89.506780            0.89
3966   3966    6531     15  43.072435 -89.519676           11.37
3967   3967    6533     67  43.057329 -89.510756           16.88
3968   3968    6539     15  43.064361 -89.517233           15.53
3969   3969    6541      3  43.049934 -89.478167            2.56
3970   3970    6543     70  43.093289 -89.501726            0.11
3971   3971    6543     71  43.093289 -89.501726            6.73

[3972 rows x 6 columns]

In [9]:
df.describe()

,index,StopID,Route,Lat,Lon,DailyBoardings
count,3972.000000,3972.000000,3972.000000,3972.000000,3972.000000,3972.000000
mean,1985.500000,3698.398792,32.141239,43.075374,-89.402466,14.095463
std,1146.761963,2995.200272,23.700705,0.026544,0.063686,42.900325
min,0.000000,5.000000,1.000000,42.987673,-89.564243,0.110000
25%,992.750000,1208.750000,12.000000,43.062279,-89.450882,0.790000
50%,1985.500000,2465.000000,28.000000,43.074719,-89.396970,3.135000
75%,2978.250000,6539.500000,51.000000,43.090502,-89.358540,10.792500
max,3971.000000,9996.000000,84.000000,43.156741,-89.260469,984.510000