# Performance: SQL vs. DataFrame

## 1. Time

Get time since Jan 1, 1970:

```python
import time
time.time()
```

Try it, and convert to years.

In [1]:
import time
time.time()

1555686885.550542

## 2. Generate Synthetic DataFrame

With `N` rows and 3 columns.  Each column contains the same (ascending integers).

In [2]:
import sqlite3
import pandas as pd
c = sqlite3.connect("test.db")

data = {"col1":[], "col2":[]}
for i in range(1000000):
    data["col1"].append(i)
    data["col2"].append(i)

pd.DataFrame(data).to_sql("test", c, if_exists="replace")

Use `df.to_sql("????", conn, if_exists="replace", index=False)`

## 3. LIMIT vs. head

In [5]:
t0 = time.time()
pd.read_sql("SELECT * FROM test LIMIT 10", c)
t1 = time.time()
t1 - t0

0.0013768672943115234

In [6]:
t0 = time.time()
pd.read_sql("SELECT * FROM test", c).head(10)
t1 = time.time()
t1 - t0

1.5019638538360596