In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [6]:
import pandas as pd
from pandas import Series, DataFrame
import sqlite3
import os

In [2]:
path = "worksheet.db"
assert os.path.exists(path)
c = sqlite3.connect(path)

In [3]:
import sqlite3
c = sqlite3.connect("worksheet.db")

def qry(sql):
    return pd.read_sql(sql, c)

species = qry("SELECT * FROM species")
trees = qry("SELECT * FROM trees")
hydrants = qry("SELECT * FROM hydrants")

In [9]:
# want a dict something like {"A":3, "B":2, "C":4}
letters = ["A","A","A","B","B","C","C","C","C"]

In [10]:
s = Series(letters)
s

0    A
1    A
2    A
3    B
4    B
5    C
6    C
7    C
8    C
dtype: object

In [11]:
s.value_counts()

C    4
A    3
B    2
dtype: int64

In [12]:
dict(s.value_counts())

{'C': 4, 'A': 3, 'B': 2}

In [13]:
hydrants

   year  color  style    owner   alt  active
0  1999    red   K-81  private  1179       0
1  2000    red    M-3   public  1065       0
2  2001  green  Pacer  private  1058       1
3  2010   blue  Pacer   public  1081       1
4  2014   blue  Pacer   public  1052       1
5  2018   blue  Pacer   public  1109       1

In [15]:
hydrants["color"]

0      red
1      red
2    green
3     blue
4     blue
5     blue
Name: color, dtype: object

In [16]:
hydrants["color"].value_counts()

blue     3
red      2
green    1
Name: color, dtype: int64

In [18]:
qry("""
SELECT color, COUNT(*)
FROM hydrants
GROUP BY color
""")

   color  COUNT(*)
0   blue         3
1  green         1
2    red         2

In [23]:
qry("""
SELECT color, COUNT(*) AS count
FROM hydrants
GROUP BY color
""").set_index("color")["count"]

color
blue     3
green    1
red      2
Name: count, dtype: int64