In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import pandas as pd
from pandas import Series, DataFrame
import sqlite3
import os

In [2]:
path = "worksheet.db"
assert os.path.exists(path)
c = sqlite3.connect(path)

In [3]:
import sqlite3
c = sqlite3.connect("worksheet.db")

def qry(sql):
    return pd.read_sql(sql, c)

species = qry("SELECT * FROM species")
trees = qry("SELECT * FROM trees")
hydrants = qry("SELECT * FROM hydrants")

In [1]:
# want a counting dict, like {"A":3, "B":1, "C":2}
vals = ["A", "A", "A", "B", "C", "C"]

In [4]:
s = Series(vals)
s

0    A
1    A
2    A
3    B
4    C
5    C
dtype: object

In [5]:
s.value_counts()

A    3
C    2
B    1
dtype: int64

In [7]:
dict(Series(vals).value_counts()) # GROUP BY with COUNT(*)

{'A': 3, 'C': 2, 'B': 1}