In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Pandas Intro (Afternoon Lecture)

In [3]:
# pip install pandas

In [4]:
import pandas

In [5]:
pandas.Series

pandas.core.series.Series

In [6]:
import pandas as pd

In [7]:
pd.Series

pandas.core.series.Series

In [9]:
s = pd.Series({"one": 7, "two": 8, "three": 9})
s

one      7
two      8
three    9
dtype: int64

In [10]:
s.loc["two"]

8

In [11]:
s.iloc[1]

8

In [12]:
s.loc["three"]

9

In [13]:
s.iloc[-1]

9

In [15]:
s["three"]

9

In [16]:
s[0]

7

In [17]:
# from a list
num_list = [100, 200, 300]

num_series = pd.Series(num_list)

num_list

[100, 200, 300]

In [18]:
num_series

0    100
1    200
2    300
dtype: int64

In [19]:
num_series.loc[1]

200

In [20]:
num_series.iloc[1]

200

In [24]:
letters = pd.Series(["A", "B", "C", "D"])
letters

0    A
1    B
2    C
3    D
dtype: object

In [26]:
last = letters.iloc[2:]
last

2    C
3    D
dtype: object

In [27]:
last.iloc[0]

'C'

In [29]:
# last.loc[0] don't have index 0 anymore!

In [32]:
s = pd.Series({"one": 7, "two": 8, "three": 9})
s.loc["two":]

two      8
three    9
dtype: int64

In [36]:
letters = pd.Series(["A", "B", "C", "D"])
# letters[-1]  avoid negative indexes, unless we use .iloc
letters.iloc[-1]

'D'

In [37]:
nums = [1,2,3]
nums * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
snums = pd.Series(nums)
snums * 3

0    3
1    6
2    9
dtype: int64

In [40]:
snums = pd.Series(nums)
snums + 10

0    11
1    12
2    13
dtype: int64

In [42]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [43]:
pd.Series([1,2,3]) + pd.Series([4,5,6])

0    5
1    7
2    9
dtype: int64

In [44]:
pd.Series([1,2,3]) / pd.Series([4,5,6])

0    0.25
1    0.40
2    0.50
dtype: float64

In [45]:
x = 10
x + 3

13

In [47]:
s = pd.Series([1,2,3])
s += 10
s

0    11
1    12
2    13
dtype: int64

In [48]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [50]:
s2 = pd.Series([4,5])
s2

0    4
1    5
dtype: int64

In [51]:
s1 + s2

0    5.0
1    7.0
2    NaN
dtype: float64

In [52]:
pd.Series(["A", "B"]) + pd.Series(["X", "Y"])

0    AX
1    BY
dtype: object

In [53]:
# 1. SERIES op SCALAR
# 2. SERIES op SERIES

In [61]:
s = pd.concat([pd.Series(["A", "B"]), pd.Series(["X", "Y"])])
s

0    A
1    B
0    X
1    Y
dtype: object

In [59]:
s.iloc[2]

'X'

In [63]:
s1 = pd.Series({"A":10, "B":20})
s1

A    10
B    20
dtype: int64

In [65]:
s2 = pd.Series({"B":1, "A":2})
s2

B    1
A    2
dtype: int64

In [66]:
s1 + s2

A    12
B    21
dtype: int64

In [67]:
s1["Z"] = 100
s1

A     10
B     20
Z    100
dtype: int64

In [68]:
s = pd.Series({"A":"haha", "B":20})
s

A    haha
B      20
dtype: object

In [71]:
# WANT TO GET 11 and 15 out (everything greater than 10)
s = pd.Series([11, 2, 3, 15])
b = pd.Series([True, False, False, True])
s[b]

0    11
3    15
dtype: int64

In [73]:
s

0    11
1     2
2     3
3    15
dtype: int64

In [78]:
b = s > 10
b

0     True
1    False
2    False
3     True
dtype: bool

In [76]:
s[b] # equivalent s[pd.Series(True, False, False, True)]

0    11
3    15
dtype: int64

In [77]:
s[s > 10]

0    11
3    15
dtype: int64

In [81]:
# WANT: give me all the upper case words
words = pd.Series(["APPLE", "boy", "CAT", "dog"])
words

0    APPLE
1      boy
2      CAT
3      dog
dtype: object

In [107]:
# words.upper() doesn't work
words.str.upper()

0    APPLE
1      BOY
2      CAT
3      DOG
dtype: object

In [84]:
b = words.str.upper() == words
b

0     True
1    False
2     True
3    False
dtype: bool

In [85]:
words[b]

0    APPLE
2      CAT
dtype: object

In [86]:
words[words.str.upper() == words]

0    APPLE
2      CAT
dtype: object

In [87]:
# WANT ALL THE ODD NUMBERS
s = pd.Series([10, 11, 19, 30, 35])
s

0    10
1    11
2    19
3    30
4    35
dtype: int64

In [90]:
s % 2

0    0
1    1
2    1
3    0
4    1
dtype: int64

In [89]:
s % 2 == 1

0    False
1     True
2     True
3    False
4     True
dtype: bool

In [92]:
s[s % 2 == 1]

1    11
2    19
4    35
dtype: int64

In [98]:
# WANT: values <-10 OR >10
s = pd.Series([5, -4, 15, -20, 3])
# | (non-italic) is Pandas's OR
s[(s<-10) | (s>10)]

2    15
3   -20
dtype: int64

In [110]:
# & is Pandas's AND
s[(s > -10) & (s < 10)]

-1    9
 1    8
dtype: int64