In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [7]:
import sqlite3
import pandas as pd
import os

In [8]:
path = "bus.db"
assert os.path.exists(path)
conn = sqlite3.connect(path)

In [14]:
df = pd.read_sql("SELECT * FROM sqlite_master", conn)
for s in df["sql"]:
    print(s + "\n")

CREATE TABLE "boarding" (
"index" INTEGER,
  "StopID" INTEGER,
  "Route" INTEGER,
  "Lat" REAL,
  "Lon" REAL,
  "DailyBoardings" REAL
)

CREATE INDEX "ix_boarding_index"ON "boarding" ("index")

CREATE TABLE "routes" (
"index" INTEGER,
  "OBJECTID" INTEGER,
  "trips_routes_route_id" INTEGER,
  "route_short_name" INTEGER,
  "route_url" TEXT,
  "ShapeSTLength" REAL
)

CREATE INDEX "ix_routes_index"ON "routes" ("index")

In [19]:
# pd.read_sql("SELECT * FROM routes", conn)["route_url"]

In [21]:
# pd.read_sql("SELECT * FROM boarding", conn)

In [25]:
pd.read_sql("SELECT DailyBoardings FROM boarding", conn)["DailyBoardings"].sum() # pandas do the sum

55987.18

In [26]:
pd.read_sql("SELECT SUM(DailyBoardings) FROM boarding", conn) # have sqlite3 do the sum

   SUM(DailyBoardings)
0             55987.18

In [34]:
qry = """
SELECT Route, Lat, Lon
FROM boarding
ORDER BY LON ASC
LIMIT 1
"""
pd.read_sql(qry, conn)

   Route        Lat        Lon
0     55  42.995476 -89.564243

In [36]:
qry = """
SELECT Lat, Lon
FROM boarding
"""
pd.read_sql(qry, conn).mean()

Lat    43.075374
Lon   -89.402466
dtype: float64