In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
data = {
    "col1": [1,2,3],
    "col2": [4,5,6]
}

df = DataFrame(data)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
f = open("tab.html", "w")
f.write("<table>")

row_count = len(df)
for i in range(row_count):
    f.write("<tr>")
    f.write("<td>" + str(df.col1[i]) + "</td>")
    f.write("<td>" + str(df.col2[i]) + "</td>")
    f.write("</tr>")

f.write("</table>")
f.close()