In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException

options = Options()
#options.headless = True
b = webdriver.Chrome(options=options)

In [11]:
import time

In [13]:
b.get("https://tyler.caraza-harter.com/cs320/s20/materials/lec-19/page1.html")

# poll (check) until we have the data
for i in range(40):
    try:
        b.find_element_by_id("coords")
        break
    except NoSuchElementException:
        print("still waiting")
        time.sleep(0.25)

print(b.page_source)

still waiting
still waiting
still waiting
still waiting
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      function addTable() {
        var html = "&lt;table border=1 id='coords'&gt;\n";
        html += "&lt;tr&gt;&lt;td&gt;x&lt;/td&gt;&lt;td&gt;y&lt;/td&gt;&lt;/tr&gt;\n";
        for (i = 0; i &lt; 10; i++) {
          html += "&lt;tr&gt;&lt;td&gt;" + (i*2) + "&lt;/td&gt;&lt;td&gt;" + (i*2+1) + "&lt;/td&gt;&lt;/tr&gt;\n";
        }
        html += "&lt;/table&gt;";

        var t = document.createElement("div");
        t.innerHTML = html;
        document.body.appendChild(t);
      }

      function main() {
        setTimeout(addTable, 1000)
      }
      </script>
  </head>
  <body onload="main()">
    <h1>Welcome</h1>
    <h3>Here's a table</h3>
    <table border="1" id="alpha">
      <tbody><tr><td>A</td><td>B</td><td>C</td></tr>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
    </tbody></table>

    <h3>And another one...</h3>


<div><table border="1" id="coords">
<tbody><tr><td>x</td><td>y</td></tr>
<tr><td>0</td><td>1</td></tr>
<tr><td>2</td><td>3</td></tr>
<tr><td>4</td><td>5</td></tr>
<tr><td>6</td><td>7</td></tr>
<tr><td>8</td><td>9</td></tr>
<tr><td>10</td><td>11</td></tr>
<tr><td>12</td><td>13</td></tr>
<tr><td>14</td><td>15</td></tr>
<tr><td>16</td><td>17</td></tr>
<tr><td>18</td><td>19</td></tr>
</tbody></table></div></body></html>

In [16]:
from bs4 import BeautifulSoup
page = BeautifulSoup(b.page_source)
tbls = page.find_all("table")
assert len(tbls) == 2

In [22]:
rows = []
for tr in tbls[1].find_all("tr"):
    rows.append([td.get_text() for td in tr.find_all("td")])

In [24]:
import pandas as pd
pd.DataFrame(rows[1:], columns=rows[0])

    x   y
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
5  10  11
6  12  13
7  14  15
8  16  17
9  18  19