# Database 2

In [1]:
import sqlite3
import pandas as pd

In [2]:
# ignore this cell (it's just to make certain text red later, but you don't need to understand it).
from IPython.core.display import HTML
HTML('<style>em { color: red; }</style>')

In [3]:
c = sqlite3.connect("movies.db")
c

In [4]:
pd.read_sql("select * from sqlite_master", c)

,type,name,tbl_name,rootpage,sql
0,table,movies,movies,2,"CREATE TABLE ""movies"" (\n""Title"" TEXT,\n ""Dir..."

In [5]:
pd.read_sql("select * from movies", c).head(15)

,Title,Director,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,James Gunn,2014,121,8.1,333.13
1,Prometheus,Ridley Scott,2012,124,7.0,126.46
2,Split,M. Night Shyamalan,2016,117,7.3,138.12
3,Sing,Christophe Lourdelet,2016,108,7.2,270.32
4,Suicide Squad,David Ayer,2016,123,6.2,325.02
5,The Great Wall,Yimou Zhang,2016,103,6.1,45.13
6,La La Land,Damien Chazelle,2016,128,8.3,151.06
7,Mindhorn,Sean Foley,2016,89,6.4,0.00
8,The Lost City of Z,James Gray,2016,141,7.1,8.01
9,Passengers,Morten Tyldum,2016,116,7.0,100.01
10,Fantastic Beasts and Where to Find Them,David Yates,2016,133,7.5,234.02
11,Hidden Figures,Theodore Melfi,2016,127,7.8,169.27
12,Rogue One,Gareth Edwards,2016,133,7.9,532.17
13,Moana,Ron Clements,2016,107,7.7,248.75
14,Colossal,Nacho Vigalondo,2016,109,6.4,2.87

In [6]:
def qry(sql, cap=10):
    return pd.read_sql(sql, c).head(cap)

In [7]:
qry("""
SELECT *
FROM movies
""")

,Title,Director,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,James Gunn,2014,121,8.1,333.13
1,Prometheus,Ridley Scott,2012,124,7.0,126.46
2,Split,M. Night Shyamalan,2016,117,7.3,138.12
3,Sing,Christophe Lourdelet,2016,108,7.2,270.32
4,Suicide Squad,David Ayer,2016,123,6.2,325.02
5,The Great Wall,Yimou Zhang,2016,103,6.1,45.13
6,La La Land,Damien Chazelle,2016,128,8.3,151.06
7,Mindhorn,Sean Foley,2016,89,6.4,0.00
8,The Lost City of Z,James Gray,2016,141,7.1,8.01
9,Passengers,Morten Tyldum,2016,116,7.0,100.01

# Review: Simple Selections

### Which *movie* has the *highest rating*?

### Which *director* made the *shortest movie*?

### Which *director* made the *highest-revenue movie*?

### Which *movie* had the *highest revenues* in *2016*?

### Which *3 movies* had the *highest revenues* in *2016*?

### Which *3 movies* have the *highest rating-to-revenue ratios*?

Introduce `AS`

# Aggregate Queries

```
SUM, AVG, COUNT, MIN, MAX
```

### How many *movies* are there?

### How many *directors* are there?

### What is the *total revenue* of *all the movies*?

### What is the *average rating* across *all movies*?

* v1: with `SUM` and `COUNT`
* v2: with `AVG`

### What is the *average revenue* and *average runtime* of *all the movies*?

### What is the *average runtime* for a *James Gunn* movie?

### What is the *average revenue* for a *Ridley Scott* movie?

### *How many movies* were there in *2016*?

### What *percentage* of the *total revenue* came from the *highest-revenue movie*?

### What *percentage* of the *total revenue* came from the *highest-revenue movie* in *2016*?

# GROUP BY Queries

```sql
SELECT ???, ??? FROM Movies
GROUP BY ???
```

### What is the *total revenue* per each *year*?

* v1: the amounts
* v2: the amounts, as labeled by year

### *How many movies* were by each *director*?

### What is the *average rating* for each *director*?

### What is the *average runtime* for each *director*?

### How many *unique directors* created a movie in each *year*

# Combining GROUP BY with other CLAUSES

<img src="groupby.png">

### What is the *total revenue* of per *year*, in *recent* years?

### Which *directors* have had the *largest number of movies* earning *over 100M dollars*?

### Which *three* of the *directors* have the *greatest average rating*?

### Which *three* of the *directors* have the *greatest average rating*?

Why is the above question maybe not the best to ask?

### Which *three* of the *directors* have the *greatest average rating* over at *least three movies*?

Need filtering BEFORE and AFTER the GROUP operations

<img src="pipeline.png">

# WHERE vs. HAVING

* WHERE: filter rows in original table
* HAVING: filter groups

### Repeat: Which *three* of the *directors* have the *greatest average rating* over at *least three movies*?

<img src="having.png">

### Which *directors* have had *more than 5 movies* that have been *since 2014*?

### Which *directors* have had more than *five* movies with runtimes under *100* minutes

In [8]:
c.close()