In [1]:
1 + 2

3

In [2]:
3 * 4
10 * 10

100

In [3]:
print(3 * 4)
print(10 * 10)

12
100

In [4]:
print(x)

NameError: name 'x' is not defined

In [ ]:
x = 300

In [5]:
import pandas as pd

In [6]:
from pandas import Series, DataFrame

In [7]:
nums_list = [100, 200, 300]

In [11]:
nums_series = Series(nums_list)

In [10]:
nums_list

[100, 200, 300]

In [12]:
nums_series

0    100
1    200
2    300
dtype: int64

In [13]:
s1 = Series([1, 2, 3])

In [14]:
s1

0    1
1    2
2    3
dtype: int64

In [15]:
mylist1 = list(s1)
mylist1

[1, 2, 3]

In [16]:
nums_list

[100, 200, 300]

In [17]:
result = []
for num in nums_list:
    result.append(num + 1)
result

[101, 201, 301]

In [18]:
nums_series

0    100
1    200
2    300
dtype: int64

In [19]:
nums_series + 1

0    101
1    201
2    301
dtype: int64

In [20]:
nums_series * 3

0    300
1    600
2    900
dtype: int64

In [21]:
nums_list

[100, 200, 300]

In [22]:
nums_list * 3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [23]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [24]:
Series([1, 2]) + Series([3, 4])

0    4
1    6
dtype: int64

In [25]:
Series([1, 2, 5]) + Series([3, 4])

0    4.0
1    6.0
2    NaN
dtype: float64

In [26]:
nums = Series([1, 9, 8, 2])
nums

0    1
1    9
2    8
3    2
dtype: int64

In [27]:
nums > 5

0    False
1     True
2     True
3    False
dtype: bool

In [28]:
B = nums > 5

In [29]:
B

0    False
1     True
2     True
3    False
dtype: bool

In [30]:
mod2 = nums % 2
mod2

0    1
1    1
2    0
3    0
dtype: int64

In [31]:
nums

0    1
1    9
2    8
3    2
dtype: int64

In [32]:
nums

0    1
1    9
2    8
3    2
dtype: int64

In [33]:
x = Series([2, 3, 4, 5])
nums % x

0    1
1    0
2    0
3    2
dtype: int64

In [34]:
nums

0    1
1    9
2    8
3    2
dtype: int64

In [35]:
mod2

0    1
1    1
2    0
3    0
dtype: int64

In [37]:
nums[mod2 == 1]

0    1
1    9
dtype: int64

In [38]:
nums1 = Series([100, 200, 300])

In [39]:
nums1

0    100
1    200
2    300
dtype: int64

In [40]:
nums2 = Series([100, 200, 300], index=[2, 1, 0])

In [41]:
nums2

2    100
1    200
0    300
dtype: int64

In [42]:
nums3 = Series([10, 20, 30])

In [43]:
nums3

0    10
1    20
2    30
dtype: int64

In [44]:
nums1

0    100
1    200
2    300
dtype: int64

In [45]:
nums3

0    10
1    20
2    30
dtype: int64

In [46]:
nums1 + nums3

0    110
1    220
2    330
dtype: int64

In [47]:
nums1

0    100
1    200
2    300
dtype: int64

In [48]:
nums2

2    100
1    200
0    300
dtype: int64

In [49]:
nums1 + nums2

0    400
1    400
2    400
dtype: int64

In [50]:
nums2 = Series([10, 20, 30], index=[2, 1, 0])
nums2

2    10
1    20
0    30
dtype: int64

In [51]:
nums1

0    100
1    200
2    300
dtype: int64

In [52]:
nums1 + nums2

0    130
1    220
2    310
dtype: int64

In [53]:
letters_list = ["A", "B", "C", "D"]
letters_series = Series(letters_list)

In [54]:
letters_list

['A', 'B', 'C', 'D']

In [55]:
letters_series

0    A
1    B
2    C
3    D
dtype: object

In [56]:
multi_type_series = Series([1, "A", True, 3.14])
multi_type_series

0       1
1       A
2    True
3    3.14
dtype: object

In [57]:
letters_list

['A', 'B', 'C', 'D']

In [58]:
letters_series

0    A
1    B
2    C
3    D
dtype: object

In [59]:
letters_list[0]

'A'

In [60]:
letters_series[0]

'A'

In [61]:
letters_list[-1]

'D'

In [62]:
letters_series[-1]

KeyError: -1

In [63]:
letters_list[:2]

['A', 'B']

In [64]:
letters_series[:2]

0    A
1    B
dtype: object

In [65]:
letters_list[2:]

['C', 'D']

In [66]:
letters_series[2:]

2    C
3    D
dtype: object

In [67]:
letters_list[:-1]

['A', 'B', 'C']

In [68]:
letters_series[:-1]

0    A
1    B
2    C
dtype: object

In [69]:
letters = letters_series

In [70]:
letters

0    A
1    B
2    C
3    D
dtype: object

In [71]:
bool_series = Series([True, True, False, False])

In [72]:
bool_series

0     True
1     True
2    False
3    False
dtype: bool

In [73]:
letters[bool_series]

0    A
1    B
dtype: object

In [74]:
bool_series = Series([False, False, True, True])

In [75]:
letters[bool_series]

2    C
3    D
dtype: object

In [76]:
letters

0    A
1    B
2    C
3    D
dtype: object

In [77]:
bool_series = Series([True, False, True, False])

In [78]:
letters[bool_series]

0    A
2    C
dtype: object

In [79]:
S = Series([1, 9, 2, 3, 8])
S

0    1
1    9
2    2
3    3
4    8
dtype: int64

In [80]:
B = S > 5
B

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [81]:
S[B]

1    9
4    8
dtype: int64

In [82]:
S

0    1
1    9
2    2
3    3
4    8
dtype: int64

In [83]:
E = S % 2 == 0

In [84]:
E

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [85]:
S[E]

2    2
4    8
dtype: int64

In [86]:
S[S % 2 == 0]

2    2
4    8
dtype: int64

In [87]:
S[S % 2 == 1]

0    1
1    9
3    3
dtype: int64

In [88]:
words = Series(["APPLE", "boy", "CAT", "dog"])
words

0    APPLE
1      boy
2      CAT
3      dog
dtype: object

In [89]:
upper_words = words.str.upper()
upper_words

0    APPLE
1      BOY
2      CAT
3      DOG
dtype: object

In [90]:
B = words == upper_words

In [91]:
B

0     True
1    False
2     True
3    False
dtype: bool

In [92]:
words[B]

0    APPLE
2      CAT
dtype: object

In [93]:
words[words == upper_words]

0    APPLE
2      CAT
dtype: object

In [94]:
words[words == words.str.upper()]

0    APPLE
2      CAT
dtype: object