In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Intro to Pandas (Morning Lecture)

In [3]:
# pip install pandas

In [4]:
import pandas

In [5]:
pandas.Series

pandas.core.series.Series

In [6]:
import pandas as pd
pd.Series

pandas.core.series.Series

In [8]:
s = pd.Series({"one": 7, "two": 8, "three": 9})
s

one      7
two      8
three    9
dtype: int64

In [9]:
s.loc["one"] # this is like a dict lookup

7

In [10]:
s.loc["three"]

9

In [11]:
s.iloc[0]

7

In [12]:
s.iloc[-1]

9

In [13]:
s

one      7
two      8
three    9
dtype: int64

In [14]:
s["two"]

8

In [15]:
s[1]

8

In [16]:
# Series from a list
num_list = [100, 200, 300]
num_list

[100, 200, 300]

In [17]:
s = pd.Series(num_list)
s

0    100
1    200
2    300
dtype: int64

In [18]:
s[1]

200

In [20]:
s2 = s[1:]
s2

1    200
2    300
dtype: int64

In [24]:
s2.iloc[1]

300

In [27]:
# s2[-1] # FAILS: avoid negative positions, except with .iloc
s2.iloc[-1]

300

In [28]:
s = pd.Series({"one": 7, "two": 8, "three": 9})
s

one      7
two      8
three    9
dtype: int64

In [29]:
s.iloc[1:]

two      8
three    9
dtype: int64

In [30]:
s.loc["two":]

two      8
three    9
dtype: int64

In [32]:
s2

1    200
2    300
dtype: int64

In [31]:
s2.iloc[1]

300

In [33]:
# element-wise ops

In [34]:
[10, 20] + [1, 2]

[10, 20, 1, 2]

In [37]:
s1 = pd.Series([10, 20])
s2 = pd.Series([1, 2])

In [38]:
s1 + s2

0    11
1    22
dtype: int64

In [39]:
s1 / s2

0    10.0
1    10.0
dtype: float64

In [40]:
s1 ** s2

0     10
1    400
dtype: int64

In [43]:
s1 * 3

0    30
1    60
dtype: int64

In [42]:
[10, 20] * 3

[10, 20, 10, 20, 10, 20]

In [44]:
list(s1 * 3)

[30, 60]

In [45]:
dict(s1 * 3)

{0: 30, 1: 60}

In [46]:
s1

0    10
1    20
dtype: int64

In [50]:
s2 = pd.Series([7, 8, 9])
s2

0    7
1    8
2    9
dtype: int64

In [54]:
s1 + s2

0    17.0
1    28.0
2     NaN
dtype: float64

In [57]:
pd.Series(["A", "3"])

0    A
1    3
dtype: object

In [61]:
s1 = pd.Series({"A": 10, "B": 20})
s2 = pd.Series({"B": 1, "A": 2, "C": 999})
s1

A    10
B    20
dtype: int64

In [62]:
s2

B      1
A      2
C    999
dtype: int64

In [64]:
s2 + s1

A    12.0
B    21.0
C     NaN
dtype: float64

In [65]:
s1

A    10
B    20
dtype: int64

In [66]:
s2

B      1
A      2
C    999
dtype: int64

In [78]:
s1 = pd.Series({"A": 10, "B": 20})
s2 = pd.Series({"A": 2, "B": 30})
s1

A    10
B    20
dtype: int64

In [79]:
s2

A     2
B    30
dtype: int64

In [80]:
s2 < s1

A     True
B    False
dtype: bool

In [81]:
s2 == s1

A    False
B    False
dtype: bool

In [82]:
s2 > 5

A    False
B     True
dtype: bool

In [85]:
s = pd.Series(["A", "B", "C", "D"])
s

0    A
1    B
2    C
3    D
dtype: object

In [89]:
b = pd.Series([True, False, False, True])
s[b]

0    A
3    D
dtype: object

In [91]:
# WANT ALL NUMBERS > 10
s = pd.Series([12, 9, 8, 15])
s

0    12
1     9
2     8
3    15
dtype: int64

In [93]:
b = s > 10
b

0     True
1    False
2    False
3     True
dtype: bool

In [94]:
s[b]

0    12
3    15
dtype: int64

In [95]:
s[s > 10]

0    12
3    15
dtype: int64

In [96]:
# WANT ALL UPPER CASE WORDS
words = pd.Series(["APPLE", "boy", "CAT", "dog"])
words

0    APPLE
1      boy
2      CAT
3      dog
dtype: object

In [98]:
words.str.upper()

0    APPLE
1      BOY
2      CAT
3      DOG
dtype: object

In [99]:
words == words.str.upper()

0     True
1    False
2     True
3    False
dtype: bool

In [100]:
words[words == words.str.upper()]

0    APPLE
2      CAT
dtype: object

In [101]:
words[words == words.str.lower()]

1    boy
3    dog
dtype: object

In [102]:
# WANT: numbers < -10 OR numbers > 10
s = pd.Series([-100, -3, -5, 8, 20, 30])
s

0   -100
1     -3
2     -5
3      8
4     20
5     30
dtype: int64

In [107]:
s[(s < -10) | (s > 10)]

0   -100
4     20
5     30
dtype: int64