In [1]:
import sqlite3

In [2]:
c = sqlite3.connect("trees.db")
c

In [3]:
it = c.execute("select * from trees")

In [4]:
it

In [5]:
for row in it:
    print(row)

('A', 10, 4, 'm', 8, 71)
('B', 20, 4, 'm', 10, 100)
('C', 30, 4, 'p', 6, 30)
('D', 40, 4, 'p', 8, 40)
('E', 50, 4, 'm', 12, 99)

In [6]:
it = c.execute("select * from trees")

In [7]:
list(it)

[('A', 10, 4, 'm', 8, 71),
 ('B', 20, 4, 'm', 10, 100),
 ('C', 30, 4, 'p', 6, 30),
 ('D', 40, 4, 'p', 8, 40),
 ('E', 50, 4, 'm', 12, 99)]

In [8]:
def query(sql):
    return list(c.execute(sql))

In [9]:
query("select * from trees")

[('A', 10, 4, 'm', 8, 71),
 ('B', 20, 4, 'm', 10, 100),
 ('C', 30, 4, 'p', 6, 30),
 ('D', 40, 4, 'p', 8, 40),
 ('E', 50, 4, 'm', 12, 99)]

In [10]:
query("select species from trees")

[('m',), ('m',), ('p',), ('p',), ('m',)]

In [12]:
c = sqlite3.connect("fire.db")

In [14]:
import pandas as pd
#c.execute(QUERY)
pd.read_sql("select * from hydrants", c)

   idx  year  color  style    owner   alt  active
0    1  1999    red   K-81  private  1179       0
1    2  2000    red    M-3   public  1065       0
2    3  2001  green  Pacer  private  1058       1
3    4  2010   blue  Pacer   public  1081       1
4    5  2014   blue  Pacer   public  1052       1
5    6  2018   blue  Pacer   public  1109       1

In [15]:
def query(sql):
    return pd.read_sql(sql, c)

In [16]:
query("select * from hydrants")

   idx  year  color  style    owner   alt  active
0    1  1999    red   K-81  private  1179       0
1    2  2000    red    M-3   public  1065       0
2    3  2001  green  Pacer  private  1058       1
3    4  2010   blue  Pacer   public  1081       1
4    5  2014   blue  Pacer   public  1052       1
5    6  2018   blue  Pacer   public  1109       1